<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>YelpCamp</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 30px;">
        <div class="container">
            <a class="navbar-brand" href="/">YelpCamp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
                        <a class="nav-link" href="/campgrounds">Campgrounds</a>
                    </li>
                </ul>
                <form action="/campgrounds" method="GET" class="form-inline">
                    <input class="form-control mr-sm-2 search-input" type="search" name="search" id="search-box" placeholder="campgrounds..." aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="search-btn"><i class="fa fa-search"></i></button>
                </form>
                <ul class="navbar-nav">
                    <% if (!currentUser) { %>
                        <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
                            <a class="nav-link" href="/register">Sign Up</a>
                        </li>
                        <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Welcome <%= currentUser.username %> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <% if (success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
        <% if (error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
    </div>
    